

/* Style the table */
#employee-table {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 1000px;
    position: fixed;
    max-height: 50%;
}

/* Style the table headers */
#employee-table th {
    background-color: #007bff;
    color: #fff;
    padding: 3px;
    text-align: left;
}

/* Style the table rows */
#employee-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style the table data cells */


/* Style the fixed-form container */
.fixed-form {
    position: fixed;
    bottom: 5%;
    left: 50%; /* Position it at the horizontal center */
    transform: translateX(-50%); /* Center it horizontally */
    width: 80%; /* Adjust the width as needed */
    max-width: 400px; /* Optional: Set a maximum width */
    background-color: #fff;
    padding: 20px;
}


